:root {
    --gray-sport-80: #555;
    --gray-85: #5f5f5f;
    --gray-90: #3b3b3b;
    --gray-100: #1f1f1f;


    --box-bkg: #FFFFFF;
}

/*
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray-sport-80);
}
*/

.page-builder {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray-sport-80);
}

.page-builder label {
    font-weight: 300;
    line-height: 1;
}

.page-builder .section-header select.form-control,
#config-box select.form-control {
    width: auto;
}

.page-builder input {
    color: var(--gray-sport-80);
    height: 24px;
}
.page-builder .page-section {
    display: flex;
    gap: 165px
}
.page-builder .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}
.page-builder #elements-container, .page-builder #page-container, .page-builder #config-box {
    width: 624px;
    min-height: 400px;
    padding: 10px;
    border: 2px dashed #ccc;
    position: relative;
    box-sizing: border-box;
}
.page-builder #page-container {
    height: 100%;
    min-width: 624px;
    padding: 5px;
}
.page-builder #config-box {
    min-height: 360px;
    width: 500px;
}
.page-builder #elements-container {
    min-height: 187px;
    height: 164px;
    padding: 17px 5px;
}
.page-builder .hidden{
    display: none;
}
.page-builder .row-wrapper {
    position: relative;
}
.page-builder .row,
.page-builder-preview .row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    min-height: 186px;
    box-sizing: border-box;
    padding: 18px 0;
    margin: 0;
}
.page-builder .row-controls {
    position: absolute;
    top: 0px;
    right: -90px;
    display: flex;
    gap: 5px;
    z-index: 1;
}
.page-builder .row-controls button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
}
.page-builder .row-controls button.row-remove-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
    line-height: 1;
    width: 21.5px;
    text-align: center;
    cursor: pointer;
}
.page-builder .row-controls button:disabled {
    background: #ccc;
    cursor: default;
}
.page-builder .box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-bkg);
    text-align: center;
    cursor: grab;
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    max-height: 150px;
    border: 1px solid #acacac;
    aspect-ratio: 1 / 1;
}
.page-builder .box-text {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
}
.page-builder .box.slider:before {
    content: 'Slider';
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 14px;
}
.page-builder .box-actions {
    position: absolute;
    top: 8px;
    right: 2px;
    display: flex;
    gap: 2px;
    display: none;
}
.page-builder .box:hover .box-header,
.page-builder .box:hover .box-actions {
    display: flex;
}
.page-builder .box-header {
    top: -12px;
    left: 0;
    background-color: #2a2929;
    position: absolute;
    z-index: 1;
    padding: 2px;
    color: yellow;
    display: none;
}
.page-builder .remove-btn {
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}
.page-builder .config-toggle {
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
}
.page-builder .col-1 { width: 25%; }
.page-builder .col-2 { width: 50%; }
.page-builder .col-4 { width: 100%; }
.page-builder .preview {
    background-color: rgba(0, 0, 255, 0.3);
    pointer-events: none;
}
.page-builder .config-box-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}
.page-builder .config-box-header h3 {
    margin-top: 0;
}
.page-builder .config-remove-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px;
    line-height: 1;
    width: 21.5px;
    text-align: center;
    cursor: pointer;
}
.page-builder .config-box-img-selector {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.page-builder .config-box-tools {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.page-builder .config-box-text,
.page-builder .config-box-color,
.page-builder .config-box-color {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.page-builder .config-box-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.page-builder .img-preview-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}
.page-builder .preview-img-wrapper {
    position: relative;
    border: 1px solid #a7a6a6;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}
.page-builder .preview-item {
    display: grid;
    grid-template-columns: 54px 1fr;
    align-items: flex-start;
    gap: 5px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.page-builder .preview-item input {
    width: 100%;
    box-sizing: border-box;
}
.page-builder .remove-img-btn {
    color: var(--gray-sport-80);
    border: none;
    font-size: 35px;
    line-height: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.page-builder .img-preview-list img,
.page-builder img.box-image {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: contain;
}
.page-builder .img-upload-wrapper {
    color: transparent;
    margin-bottom: 10px;
}
.page-builder button,
.page-builder .custom-upload-button {
    /*display: inline-flex;*/
    align-items: center;
    justify-content: center;
    /*
    padding: 1px 6px;
    background-color: rgb(239, 239, 239); /* Light gray background */
    color: #333; /* Dark gray icon color */
    */
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    /*font-size: 13px;*/
}
.page-builder button:hover,
.page-builder .custom-upload-button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* More depth on hover */
}

/* Hide the default file input */
.page-builder #image-upload {
    display: none;
}
.page-builder #image-upload:disabled + .custom-upload-button {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3);
}
.page-builder .toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.page-builder .type-toggle {
    margin-bottom: 10px;
}

/* Toggle Switch */
.page-builder .toggle {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Toggle Circle */
.page-builder .toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

/* Active Toggle */
.page-builder .toggle.active {
    background-color: #4caf50;
}

.page-builder .toggle.active::before {
    left: 27px;
}
.page-builder label {
    margin-bottom: 5px;
}
.page-builder i, .page-builder svg { pointer-events: none; }

.page-builder .image-center-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page-builder .image-content-row {
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 2px;
}

.page-builder .slider-config-wrapper {
    display: none;
}

.page-builder .input-number {
    width: 50px;
    height: 24px;
    box-sizing: border-box;
}

.page-builder .input-checkbox {
    width: 18px;
    height: 18px;
}

.page-builder select#image-selector {
    height: 21.5px;
    margin-bottom: 10px;
}

.page-builder .box.slider .box-image {
    display: none;
}
.page-builder .box.slider .box-image:last-of-type {
    display: block;
}

.page-builder #spacing-wrapper {
    position: relative;
}

.page-builder .row-wrapper .wp-spacing-row {
    position: absolute;
    left: calc(100% + 15px); /* 20px */
    bottom: 10px;
}

.page-builder .row-wrapper .wp-spacing-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background-color: #dddada;
}

/*TODO to be removed when the api kay is used*/
.page-builder .cke_notification_warning {
    display: none!important;
}

/* override bootstrap 
#page-container .row {
	margin-left: 0;
	margin-right: 0;
}*/

.page-builder .config-box-color-row {
    display: flex;
    gap: 10px;
}

.page-builder .bkg-color-input {
    width: 45px;
    height: 34px;
}